<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>destination</key>
	<string>upload</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>teamID</key>
	<string>QUR55L9SP5</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>oh.Intent</key>
		<string></string>
		<key>oh.Intent.IntentWidget</key>
		<string></string>
		<key>oh.Intent.IntentShieldConfiguration</key>
		<string></string>
		<key>oh.Intent.IntentShieldAction</key>
		<string></string>
		<key>oh.Intent.IntentDeviceActivityMonitor</key>
		<string></string>
	</dict>
</dict>
</plist>
